.header
  padding: 30px 30px
  margin-bottom: 100px
  &-button
    text-align: right
    &__button
      color: #fff
      padding: 10px 15px
      background-color: #ff6900

      &:hover
        background-color: darken(#ff6900, 5%)


